/* Tipografia: | font-family: 'Roboto Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    max-width: 100%;

}


nav {
    background-color: #a5ffd6;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.superior {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100vw;
}

.sup {
    width: 50vw;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.busqueda {
    display: flex;
    height: fit-content;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.buscador{
    height: 30px;
    font-size: 18px;
}

.busqueda input {

    border: none;
    width: 75%;
}

.busqueda button {
    height: 50%;
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.fa-magnifying-glass {
    padding: 10px;
}

.fa-magnifying-glass:hover {
    font-size: 16px;
    padding: 8px;
}



#precioycuotas {
    padding-top: 30px;
    text-align: center;
    width: 100%;

}


.livacia {
    list-style: none;
    margin: 0;
    display: none;
}


.burger-menu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #03264c;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;


}

.hamburguesa {
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 15px;
    margin: 10px;
}


.navlinks{
    color: black;
    text-decoration: none;
}

.navlinks:visited{
    color: black;
    text-decoration: none;
}

.navlinks :hover{
    color: #0044aa;
}

.navlinks :hover i{
    color: #0044aa !important;
}

/*ACA TERMINA EL HEADER*/



main {
    width: 100vw;
    background-color: #ebebeb;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}


.ofertas {
    display: flex;
    width: 100vw;
    justify-content: center;
    font-size: 6vw;
    font-weight: 600;
    margin: 4vw 0% 4vw 0%;
    color: rgb(60,60,60);
}


.camion {
    color: #84dcc6;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #84dcc6;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 300ms;
}

article:hover .camion{
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    transform: rotate(-90deg);
    color: #a5ffd6;
    border-color: #a5ffd6;
}




.lista{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

article {
    background-color: white;
    width: 90vw;
    margin-bottom: 4vw;
    display: flex;
    flex-wrap: wrap;
}
article b {
    font-size: 18px;
    color: rgb(151, 151, 151);
    opacity: 0%;
    transition: 300ms;
}

article:hover b {
    opacity: 100%;
  }



b:hover{
    display: inline-block;
}

.productoml {
    /*Productos de ML*/
    width: 100%;
    box-sizing: border-box;
    padding: 5vw;
    margin-bottom: 25px;
    margin-top: 0px;
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.productos {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 5vw;
    margin-top: 25px;
}

.envios {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}



.precio{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3vw;
}
h5 {
    font-size: 18px;

    display: inline-block;
    width: fit-content;

}

h6 {
    display: inline-block;
    font-size: 16px;
    color: #84dcc6;
}





.pie p{
    margin-top: 10px;
}




footer {
    text-align: center;
    width: 90vw;
    margin-left: 5vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.foot {
    color: #03264c;
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    transition: 300ms;

}

.pie:hover .foot{
    color: #0044aa;
}

#copy{
    padding-top: 50px;
    display: flex;
    width: 90vw;
    clear: both;
}

@media (min-width: 361px) {
    .camion{
        font-size: 14px;
        align-content: center;
    }
    article:hover .camion{
        width: 30px;
        height: 30px;
        font-size: 14px;
        top: -15px;
    }


    .busqueda input{
        width: 70%;
    }

    

    .ofertas{
        font-size: 25px;
        justify-content: flex-start;
        padding-left: 6vw;
    }


    article{
        width: 38%;
    }
    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .productoml{
        padding: 4vw;
        
    }

    
    .footer{
        display: flex;
        width: 90vw;
        margin: 0;
        justify-content: space-around;

    }

    .pie{
        width: 30%;
    }


    h5 {
        font-size: 13px;
    
        display: inline-block;
        width: fit-content;
    
    }
    
    h6 {
        display: inline-block;
        font-size: 14px;
        color: #84dcc6;
    }

    .precio {
        width: 100%;
    }

    
@media (min-width: 481px) {

    h5 {
        font-size: 16px;
    
        display: inline-block;
        width: fit-content;
    
    }

    article:hover .camion{
        width: 40px;
        height: 40px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -20px;
        transform: rotate(-90deg);
    }




    











  

}



    @media (min-width: 769px) {

    .superior {
        width: 66vw;
    }

    .sup {
        width: 32vw;
    }


    #precioycuotas {
        width: 33vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inf {
        display: flex;
        width: 100vw;
        padding-bottom: 15px;
        justify-content: space-between;
    }



        .livacia {
            padding-top: 35px;
            display: flex;
            align-items: flex-end;
            width: 40%;
            justify-content: space-around;
        }

          .burger-menu {
        display: none;
    }


        .ofertas{
            font-size: 35px;
        }

        .productoml{
            padding: 2vw;
        }

        .productos{
            padding: 2vw;
        }
        article {
            width: 20vw;
        }
        a .navlinks{
            font-size: 17px;
        }
    }


}


@media (min-width: 1080px) {
    h4{
        font-size: 0.7vw;
    }

    h4 i{
        font-size: 0.7vw;
    }
    
    
    .livacia{
        font-size: 17px;
    }

    h5 , h6{
        font-size: 16px;
    }


}