<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo-mercado-liebre.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user.css">

    <title>Mercado Verde</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body style="margin: 0px;">

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <header>
        <nav>


            <div class="superior">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" class="sup"></a>

                <div class="sup">

                    <form class="busqueda">
                        <input type="search" class="buscador">
                        <button>
                            <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                        </button>
                    </form>
                </div>
            </div>

            <h4 id="precioycuotas"> <i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Comprá en
                cuotas y sin tarjeta de crédito</h4>
            <div class="inf">
                <ul class="livacia">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul class="livacia">
                    <a href="/register" class="navlinks"><li>Creá tu cuenta <i class="fa-regular fa-address-card" style="color: #000000;"></i></li></a>
                    <a href="/login" class="navlinks"><li>Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></li></a>
                    <a href="/register" class="navlinks"> <li>Mis compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></li></a>
                </ul>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars hamburguesa"></i>
            </div>
        </nav>
    </header>

<!----------------------------------------------------------------- MAIN ----------------------------------------------------------------------------------------------------------->
        
    <main>
        <form action="/" method="get">

        <div class="form">
            <label for="name">Nombre y Apellido</label>
            <input type="text" id="name" name="name" class="contenedor" placeholder="Peter Parker" required>
        </div>

        <div class="form options" >
            <label for="sex">Sexo</label>
            <div class="sexo">
                <input type="radio" name="sexo" value="M" id="masculino" required><label for="masculino"> Masculino</label>
            </div>
            <div class="sexo">
                <input type="radio" name="sexo" value="F" id="femenino" required><label for="femenino"> Femenino</label>
            </div>
            <div class="sexo">
                <input type="radio" name="sexo" value="X" id="otro" required><label for="nb"> No Binario</label>
            </div>
            <div class="sexo">
                <input type="radio" name="sexo" value="?" id="femenino" required><label for="otro"> Otro</label>
            </div>
        </div>

        <div class="form">
            <label for="usuario">Nombre de usuario</label>
            <input type="text" id="usuario" name="usuario" class="contenedor" placeholder="Spiderman" required>
        </div>

        <div class="form">
            <label for="foto">Foto De usuario</label>
            <input type="file" id="foto" name="avatar" class="contenedor send" placeholder="Sube aqui tu foto." accept=".jpg">
        </div>

        <div class="form">
            <label for="mail">Email</label>
            <input type="email" id="mail" name="mail" class="contenedor" placeholder="Spider@man.com" required>
        </div>

        <div class="form">
            <label for="checkmail">Confirmar Email</label>
            <input type="checkemail" id="mail" name="mail" class="contenedor" placeholder="Recuerde escribirlo igual al anterior" required>
        </div>

        <div class="form">
            <label for="date">Fecha de Nacimiento</label>
            <input type="date" class="contenedor" required>
        </div>

        <div class="form">
            <label for="house">Domicilio</label>
            <input type="text" id="house" name="direccion" class="contenedor" placeholder="Calles de Nueva York" required>
        </div>


        
        
        <div class="form options" id="checkbox">
            <label for="sex">Tus Intereses</label>
            <div class="interes">
                <input type="checkbox" name="interes" value="moda" id="moda" required><label for="moda"> Moda</label>
            </div>
            <div class="interes">
                <input type="checkbox" name="interes" value="electro" id="electro" required><label for="electro"> Electro</label>
            </div>
            <div class="interes">
                <input type="checkbox" name="interes" value="hogar" id="hogar" required><label for="hogar"> Hogar</label>
            </div>
            <div class="interes">
                <input type="checkbox" name="interes" value="juguetes" id="juguetes" required><label for="juguetes"> Jugueteria</label>
            </div>
            <div class="interes">
                <input type="checkbox" name="interes" value="vida-sana" id="sano" required><label for="sano"> Vida sana</label>
            </div>
        </div>




            <div class="form">
                <label for="pass">Contraseña</label>
                <input type="password" id="pass" name="pass" class="contenedor" placeholder="***********" required>
            </div>
            
            <div class="form">
                <label for="checkpass">Confirmar Contraseña</label>
                <input type="password" id="checkpass" name="pass" class="contenedor" placeholder="***********" required>
            </div>
            
            <div class="botones">
                <input type="submit" class="form send" id="mandar" value="Registrate">
                <a href="/register" class="navlinks"><input type="submit" class="form send" id="borrar" value="Reiniciar"></a>
            </div>
        </form>
            


    </main>

<!----------------------------------------------------------------- FOOTER ----------------------------------------------------------------------------------------------------------->


    <footer>
        <div class="footer">   
            <div class="pie">
                <i class="fa-solid fa-credit-card foot"></i>
                <b>Pagá con tarjeta o en efectivo</b>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                
                <div class="pie">
                    <i class="fa-solid fa-gift foot"></i>
                    <b>Envío gratis desde $ 2.500</b>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                    <div class="pie">
                        <i class="fa-solid fa-user-shield foot"></i>
                        <b>Seguridad, de principio a fin</b>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                        </div>
                        
                    </div>
                        <p id="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                        
    </footer>


</body>

</html>