<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo-mercado-liebre.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user.css">
    <title>Mercado Verde</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body style="margin: 0px;">


    <%- include('../partials/navbar.ejs'); %>


        <main>
            <form action="/" method="get">

                <div class="form">
                    <label for="usuario">Nombre de usuario</label>
                    <input type="text" id="usuario" name="usuario" class="contenedor" placeholder="Selik" required>
                </div>

                <div class="form">
                    <label for="pass">Contraseña</label>
                    <input type="password" id="pass" name="pass" class="contenedor" placeholder="***********" required>
                </div>

                <input type="submit" class="form send" id="send">

                <div class="userprob">
                    <a href="/register" class="navlinks"><label>Registrate aca</label></a>
                    <a href="/" class="navlinks"><label>¿Olvidaste Tu Contraseña?</label></a>
                </div>
            </form>
        </main>


        <%- include('../partials/footer.ejs'); %>


</body>

</html>