<nav>
    <div class="superior">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" class="sup"></a>

        <div class="sup">

            <form class="busqueda">
                <input type="search" class="buscador">
                <button>
                    <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                </button>
            </form>
        </div>
    </div>

    <h4 id="precioycuotas"> <i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Comprá en
        cuotas y sin tarjeta de crédito</h4>
    <div class="inf">
        <ul class="livacia">
           <a href="/"> <li>Ofertas</li></a>
           <a href="/products"><li>Productos</li></a>
            <a href="/create"><li>Vender</li></a>
            <li>Ayuda</li>
        </ul>
        <ul class="livacia">
            <a href="/register" class="navlinks">
                <li>Creá tu cuenta <i class="fa-regular fa-address-card" style="color: #000000;"></i></li>
            </a>
            <a href="/login" class="navlinks">
                <li>Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></li>
            </a>
            <a href="/register" class="navlinks">
                <li>Mis compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></li>
            </a>
        </ul>
    </div>

    <button class="burger-menu">
        <i class="fas fa-bars hamburguesa"></i>
    </button>
</nav>